.filme-info {
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.filme-info h1 {
    margin: 14px;
}

.filme-info img {
    border-radius: 18px;
    width: 900px;
    max-width: 100%;
    object-fit: over;
}

/*
.filme-info h3 {
}
*/

.filme-info span {
    margin: 8px 0;
}

.area-buttons button {
    margin-top: 10px;
    margin-right: 8px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.area-buttons button:hover {
    background-color: #123455;
    color: #fff;
}

.area-buttons a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
}

.area-buttons a:hover {
    color: #fff;
}